*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  height: 2287px;
}

.navbar {
  width: 100%;
  position: relative;
}

.navbar ul {
  font-family: "Nunito", sans-serif;
  margin-right: 3%;
}

.login-btn {
  margin-right: 3%; 
}

.btn-light {
  border-color: #ffcd61;
}

.btn-light:hover {
  color: black;
  background-color: rgba(255, 205, 97, 1);
}

.btn-warning a {
  margin-right: 5%;
}

.jumbotron {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background: url(/img/home-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 767px;
  color: white;
}

.jumbotron h1 {
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 70%;
  font-size: 64px;
  font-family: "Playfair Display";
}

.jumbotron h5 {
  font-family: "Nunito", sans-serif;
  padding-top: 5%;
  padding-left: 7%;
}

.jumbotron h6 {
  padding-left: 7%;
}

.dropdown {
  /* background-color: rgba(255, 255, 255, 0.5) !important; */
  width: 600px;
  margin-top: 3%;
  margin-left: 7%;
}

.location {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.type {
  margin-left: 10%;
  width: 220px;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.type- {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.payment {
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.date {
  margin-left: 10%;
  width: 220px;
  margin-top: 9%;
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.date- {
  margin-top: 9%;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.explore {
  margin-top: 7%;
  background-color: rgba(255, 205, 97, 1) !important;
}

button .explore {
  background-color: rgba(255, 205, 97, 1) !important ;
}

.main-container {
  margin-top: 8%;
  height: 655px;
  background-color: #ffffff;
  color: black;
  position: relative;
}

.main-container figcaption, .main-container img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-container p {
  font-family: "Playfair Display";
  font-size: 36px;
  padding-top: 5%;
  padding-left: 7%;
  max-width: max-content;
}

.main-container h6 {
  position: absolute;
  top: 15%;
  right: 7%;
  color: rgba(251, 143, 29, 1);
}

.main-container h6:hover {
  cursor: pointer;
}

.img-fluid {
  width: 284px;
  height: 337px;
  object-fit: cover;
  border-radius: 5px;
}

.col-sm-4:hover {
  cursor: pointer;
}

.img-1 {
  background-color: white;
  height: 12%;
  width: 30%;
  font-style: "Nunito";
  font-family: 15px;
  margin-top: -13%;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

.img-2 {
  background-color: white;
  height: 12%;
  width: 30%;
  font-style: "Nunito";
  font-family: 15px;
  margin-top: -13%;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

.img-3 {
  background-color: white;
  height: 12%;
  width: 30%;
  font-style: "Nunito";
  font-family: 15px;
  margin-top: -13%;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

.img-4 {
  background-color: white;
  height: 12%;
  width: 30%;
  font-style: "Nunito";
  font-family: 15px;
  margin-top: -13%;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

.testimoni {
  width: 100%;
  height: 750px;
  background-color: white;
}

.testimoni h3 {
  font-family: "Playfair Display";
  font-size: 36px;
  padding-left: 7%;
  color: black;
}

.star {
  color: rgba(255, 187, 12, 1);
  padding-left: 7%;
  padding-top: 10%;
}

.testimoni h6 {
  color: rgba(57, 57, 57, 1);
  padding-top: 2%;
  width: 27%;
  font-family: "Mulish";
}

.testimoni h2 {
  padding-top: 2%;
  padding-left: 7%;
  width: 27%;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  font-family: "Nunito";
}

.testimoni h4 {
  padding-left: 7%;
  font-size: 18px;
  font-family: "Nunito";
  color: rgba(57, 57, 57, 0.85);
}

.testimoni-img {
  margin-left: 55%;
  margin-top: -20%;
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  background-image: url(/img/custumor.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.testimoni-img figcaption {
  background-color: white;
  height: 12%;
  width: 30%;
  font-family: 15px;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  padding-top: 5%;
  bottom: -5px;
  right: -1px;
  text-align: center;
}

.circle-1 {
  position: absolute;
  width: 50px;
  left: 80%;
  bottom: -118%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  color: rgba(57, 57, 57, 1);
  font-style: "Mulish";
  font-weight: 700;
  background-color: #F9F9FB;
}

ul {
  color: rgba(132, 132, 132, 1);
  
}

li {
  font-size: 18px;
  font-weight: 300;
}

.first {
  width: 500px;
}

.first p {
  padding-top: 5%;
  padding-right: 45%;
  font-size: 18px;
  font-weight: 300;
}

.first h6 {
  font-size: 17px;
  font-weight: 300;
  padding-left: 0%;
}

.second {
  width: 100px;
}

.second ul {
  list-style-type: none;
  padding-left: 0%;
  margin-top: 10%;
}

.second li {
  margin-top: 1%;
  padding-top: 3%;
}

.third {
  margin-left: 5%;
  width: 200px;
}

.third ul {
  list-style-type: none;
  padding-left: 0%;
  margin-top: 7%;
}

.third li {
  padding-top: -2%;
  padding-bottom: 3%;
}

.fourt {
  width: 200px;
  margin-right: 7%;
}

.fourt ul {
  list-style-type: none;
  padding-left: 0%;
  margin-top: 7%;
}

.fourt li {
  padding-top: -2%;
  padding-bottom: 3%;
}

.footer-container {
  height: 83px;
  background-color: #F9F9FB;
}

.footer-container h6 {
  color: rgba(196, 196, 196, 1);
}

.icon {
  color: #393939;
  font-size: 30px;
  text-align: center;
  margin-left: 3%;
}

.fa {
  margin-right: 3%;
}


@media screen and (max-width: 993px) and (min-width: 769px) {

    body {
      overflow-x:hidden ;
    }

  .main-container h6 {
    margin-top: -2%;
  }

  .main-container p {
    margin-bottom: 2%;
  }

  .img-1 {
    margin-top: -18%;
    width: 35%;
  }

  .img-2 {
    margin-top: -18%;
    width: 45%;
  }

  .img-3 {
    margin-top: -18%;
    width: 35%;
  }

  .img-4 {
    margin-top: -18%;
    width: 35%;
  }

  .testimoni {
    margin-top: 20%;
  }

  .testimoni-img {
    margin-top: -40%;
    margin-left: 50%;
  }

  .flex-container {
    width: 100%;
  }
  .first {
    margin-left: 8%;
  }

  .footer-container {
    overflow: hidden;
  }
  .footer-container h6 {
    margin-left: -10%;
  }
  .circle-1 {
    display: none;
  }

}

@media screen and (max-width: 768px) and (min-width: 574px) {
  .nav-btn {
    display: none;
  }

  .main-container figcaption {
    margin-top: -26%;
    width: 60%;
  }

  .main-container {
    height:  max-content;
  }

  .main-container h6 {
    margin-top: -10%;
  }

  .testimoni {
    margin-top: 30%;
  }

  .testimoni h6 {
    padding-top: 3%;
  }

  .star {
    padding-top: 10%;
  }

  .testimoni-img {
    margin-left: 45%;
    margin-top: -60%;
    width: 50%;
    height: 60%;
  }

  .circle-1 {
    display: none;
  }

  .footer-container {
    overflow: hidden;
  }
  .flex-container {
    margin-top: 0%;
    height: 300px;
  }

  .first {
    margin-left: 5%;
  }

  .footer-container h6 {
    margin-left :-30%
  }

  .first p {
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 572px) {
  body {
    overflow-x: hidden;
  }
  nav .btn {
    display: none;
  }
  
  .navbar-toggler {
    margin-left: 70%;
  }

  .jumbotron h1 {
    text-align: center;
    padding-left: 30%;
  }

  .jumbotron h5, .jumbotron h6 {
    text-align: center;
    padding-right: 10%;
  }

  .dropdown {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
  }

  .btn {
    margin-bottom: 3%;
  }

  .type- {
    width: 16%;
  }

  .type {
    margin-left: 0%;
  }

  .payment {
    margin-top: -0%;
  }

  .date {
    margin-left: 0%;
    margin-top: -0%;
  }

  .date- {
    margin-top: -0.2%;
    width: 16%;
  }

  .explore {
    margin-left: 15%;
  }

  .main-container p {
    text-align: center;
    padding-left: 26%;
  }

  .main-container h6 {
    margin-top: -3%;
    text-align: center;
    margin-right: 6%;
  }

  .container {
    margin-left: 23%;
  }
  .container img {
    margin-bottom: 10%;
  }

  .container figcaption {
    margin-top: -17%;
    margin-bottom: 10%;
    width: 17%;
  }

  .circle-1 {
    display: none;
  }

  .testimoni {
    margin-top: 190%;
    margin-right: 100%;
    background-color: blueviolet;
    background-image: url(/img/custumor.png);
    background-size: cover;
    background-attachment: fixed;
    
  }

  .testimoni h3 {
    text-align: center;
    padding-right: 5%;
    color: white;
  }

  .star {
    margin-left: 35%;
  }

  .testimoni h6 {
    margin-left: 35%;
    padding-right: 1%;
    padding-left: -5%;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .testimoni h2 {
    margin-left: 35%;
    padding-right: 1%;
    padding-left: -5%;
    text-align: center;
    font-size: 18px;
    color: white;
  }
  .testimoni h4 {
    margin-left: -1%;
    padding-right: 1%;
    padding-left: -5%;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .star {
    margin-right: -10%;
  }

  .testimoni-img {
    display: none;
  }

  .flex-container {
    height: max-content;
  }

  .first {
    display: none;
  }

  .second {
    margin-left: 10%;
  }

  .third {
    margin-left: 15%;
  }

  .footer-container h6 {
    margin-left: -50%;
  }

}